<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Manjila's App</title>

  <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script defer src="/scripts/fontawesome-all.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/scripts/app.js"></script>

</head>
<body>
  <header class="teal lighten-3">
      <h1 class="center-align">Manjila's App</h1>
  </header>
  <div class= "row">
    <div class="col s3 teal lighten-5" id="info">
      <h3 class="card-panel">About Me</h3>

    </div>
    <div class="col s3 offset-s1 teal lighten-5" id='projectTarget'>

    </div>
    <div class="col s3 offset-s1">
        <form id="newProjectForm">
          <div>
            <label for="projectName">Project Name</label>
            <input type="text" class="form-control" name="projectName" placeholder="Project Name">
          </div>
          <div>
            <label for="desc">Description</label>
            <input type="text" class="form-control" name="description" placeholder="Description">
          </div>
          <div>
            <label for="link">Github Link</label>
            <input type="text" class="form-control" name="githubLink" placeholder="Github Link">
          </div>
          <button type="submit" class="btn grey lighten-1">Create Project</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
